.sectionHeader {
  font-size: 3.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.15em !important;
}

@media only screen and (max-width: 786px) {
  .sectionHeader {
    font-size: 3.5rem;
    letter-spacing: 0.01em !important;
  }
}
